<p style="color: green"><%= notice %></p>

<% content_for :title, "Start Playing" %>

<h1>Get Ready!</h1>
<%= form_with url: '/play/cue', class: "play-setup-form" do |form| %>
  <div class="play-setup-grid">
    <p class="form-field">
      <strong>Setlist</strong>
      <% if @list_name.present? %>
        <span><%= @list_name %></span>
        <%= form.hidden_field :list_id, :value => @list_id %>
      <% else %>
        <%= form.collection_select :list_id, @lists, :id, :name, { include_blank: 'Select one' } %>
      <% end %>
    </p>

    <p class="form-field">
      <strong>Display Style</strong>
      <%= form.select :display_type, options_for_select(@display_types), {}, class: "display-style-select" %>
    </p>
  </div>

  <fieldset class="instrument-picker">
    <legend>Instruments</legend>
    <div class="instrument-grid">
      <%= form.collection_checkboxes(:instrument_ids, @instruments, :id, :name) do |b| %>
        <%= b.label class: "checkbox-row" do %>
          <%= b.check_box %>
          <span><%= b.text %></span>
        <% end %>
      <% end %>
    </div>
  </fieldset>

  <div class="play-ready-actions">
    <%= form.submit "Start", class: "button button--play" %>
    <div class="offline-download">
      <%= form.submit "Download", name: "download_setlist", class: "button button--small offline-download__button" %>
      <p class="offline-download__help">iOS: stored in Files &gt; Downloads</p>
      <p class="offline-download__help">Android: stored in Downloads</p>
    </div>
  </div>
<% end %>
