<p style="color: green"><%= notice %></p>

<% content_for :title, "Start Playing" %>

<h1>Choose a Setlist to start playing</h1>
<%= form_with url:'/play/cue' do |form| %>
  <p>Setlist: <%= form.collection_select :list_id, @lists, :id, :name, { include_blank: 'Select one' } %></p>
  <p>Instruments:</p>
  <%= form.collection_checkboxes(:instrument_ids, @instruments, :id, :name) do |b| %>
    <p><%= b.label { b.check_box + b.text} %></p>
  <% end %>
  <%= form.submit "Start" %>
<% end %>
