<p style="color: green"><%= notice %></p>

<% content_for :title, "Playing " + @list.name %>
<p class="action-row"><%= link_to "Back", play_play_path(list_id: @list.id, instrument_ids: @instrument_ids), class: "button" %></p>

<% @songs.each_with_index do |song, i| %>
  <section class="continuous-song">
    <h1><%= song.title %></h1>
    <% @preps[i].each do |prep| %>
      <p class="song-note song-note--prep"><strong><%= prep.instrument.name %>:</strong> <%= prep.instruction %></p>
    <% end %>
    <p class="song-note song-note--intro"><strong>Intro:</strong> <%= song.intro %></p>

    <% if @sheets[i].any? %>
      <div class="song-sheets">
        <% @sheets[i].each do |sheet| %>
          <% if sheet.alternate? %>
            <p class="alternate-image-label"><span class="alternate-image-icon" title="Alternate instrument sheet">ALT</span> Alternate sheet for <%= sheet.instrument_names %></p>
          <% end %>
          <%= image_tag sheet.img.url, class: "song-sheet-image" %>
        <% end %>
      </div>
    <% else %>
      <p class="song-media-placeholder">No sheets uploaded</p>
    <% end %>

    <p class="song-note song-note--finish"><strong>Finish:</strong> <%= song.finish %></p>
  </section>
<% end %>

<h2>End of Set List</h2>
<p class="action-row"><%= link_to "Home", public_home_path, class: "button button--primary" %></p>
