<%= form_with(model: song) do |form| %>
  <% if song.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
        <% song.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <table>
      <% if @song.band_id.present? %>
        <%= form.hidden_field :band_id, value: @song.band_id %>
    <% else %>
        <tr>
          <td>Band</td>
          <td><%= form.select :band_id, (["-- Please select a band --"] + Band.all.collect {|t| [ t.name, t.id ] }) %></td>
        </tr>
      <% end %>
      <tr>
        <td>Title</td>
        <td><%= form.text_field :title %></td>
      </tr>
      <tr>
        <td>Performer</td>
        <td><%= form.text_field :performer %></td>
      </tr>
      <tr>
        <td>Version</td>
        <td><%= form.text_field :version %></td>
      </tr>
      <tr>
        <td>Intro</td>
        <td><%= form.text_field :intro %></td>
      </tr>
      <tr>
        <td>Duration (seconds)</td>
        <td><%= form.text_field :duration %></td>
      </tr>
      <tr>
        <td>Finish</td>
        <td><%= form.text_field :finish %></td>
      </tr>
      <tr>
        <td>Main sheet</td>
        <td>
          <%= form.file_field :sheet_img, accept: "image/*" %>
          <div class="inline-form-grid inline-form-grid--compact">
            <label>
              Order
              <%= form.number_field :sheet_sort_order, min: 1, value: @song.main_sheets.maximum(:sort_order).to_i + 1 %>
            </label>
          </div>
        </td>
      </tr>
      <tr>
        <td>Alternate sheet</td>
        <td>
          <%= form.file_field :alternate_sheet_img, accept: "image/*" %>
          <div class="inline-form-grid">
            <label>
              Order
              <%= form.number_field :alternate_sheet_sort_order, min: 1, value: @song.main_sheets.maximum(:sort_order).to_i + 1 %>
            </label>
            <label>
              Instruments
              <%= form.collection_select :alternate_sheet_instrument_ids, @instruments, :id, :name, {}, multiple: true, class: "multi-select" %>
            </label>
          </div>
        </td>
      </tr>
    </table>

    <% if @sheets.present? %>
      <h2>Uploaded sheets</h2>
      <table>
        <thead>
          <tr>
            <th>Preview</th>
            <th>Order</th>
            <th>Instruments</th>
            <th>Replace</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @sheets.each do |sheet| %>
            <tr>
              <td>
                <% if sheet.alternate? %>
                  <span class="alternate-image-icon" title="Alternate instrument sheet">ALT</span>
                <% end %>
                <%= image_tag sheet.img.url, class: "song-sheet-thumb" if sheet.img.present? %>
              </td>
              <td><%= number_field_tag "sheets[#{sheet.id}][sort_order]", sheet.sort_order, min: 1, class: "compact-input" %></td>
              <td>
                <%= collection_select "sheets[#{sheet.id}]", :instrument_ids, @instruments, :id, :name, { selected: sheet.instrument_ids }, multiple: true, class: "multi-select" %>
              </td>
              <td><%= file_field_tag "sheets[#{sheet.id}][img]", accept: "image/*" %></td>
              <td>
                <label class="checkbox-row">
                  <%= check_box_tag "sheets[#{sheet.id}][delete]", "1" %>
                  <span>Delete</span>
                </label>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <%= form.submit %>
  </div>
<% end %>
