<p style="color: green"><%= notice %></p>

<h1><%= @title %></h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Performer</th>
    <th>Version</th>
    <th>Duration</th>
    <th>Intro</th>
    <th>Finish</th>
    <th>Set Lists</th>
  </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= link_to song.title, song_path(song) %></td>
        <td><%= song.performer %></td>
        <td><%= song.version %></td>
        <td><%= song.duration_pretty %></td>
        <td><%= song.intro %></td>
        <td><%= song.finish %></td>
        <td><%= song.lists.any? ? song.lists.pluck(:name).join(', ') : "None" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @band.present? %>
  <%= link_to "New song", new_song_path(:band_id => @band.id) %>
<% else %>
  <%= link_to "New song", new_song_path %>
<% end %>