<%= form_with(model: player) do |form| %>
  <% if player.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
        <% player.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <td>First Name</td>
      <td><%= form.text_field :first_name %></td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td><%= form.text_field :last_name %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%= form.text_field :email %></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><%= form.password_field :password %></td>
    </tr>
    <tr>
      <td>Bands</td>
      <td><%= form.collection_check_boxes :band_ids, accessible_bands.alpha, :id, :name %></td>
    </tr>
  </table>
  <div>
    <%= form.submit player.persisted? ? "Save Player" : nil %>
  </div>
<% end %>
