<p style="color: green"><%= notice %></p>

<%= render @player %>

<div>
  <%= link_to "Edit player", edit_player_path(@player) %> |
  <%= link_to "Back to players", players_path %>

  <%= button_to "Delete player", @player, method: :delete %>
</div>
